@charset "UTF-8";

/* The settings to apply to all pages */

html {
  font-family: 'Playfair Display', 'Noto Sans JP', sans-serif;
  color: #444444;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: #f8f6f2;
  background-image: url(images/flower.svg);
  background-repeat: repeat;
  background-size: 10%;
  margin: 0;
  padding: 0;
}

.nocenter {
  text-align: initial;
}

.slides {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.slides p {
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: initial;
  z-index: 1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 9s infinite ease-in-out;
}

.slide::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.slide1 { background-image: url('images/item1.jpg'); animation-delay: 0s; }
.slide2 { background-image: url('images/item2.jpg'); animation-delay: 3s; }
.slide3 { background-image: url('images/item3.jpg'); animation-delay: 6s; }

@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}

/* Apply to all pages ‐ header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  z-index: 1000;
}

.logo {
  color: #d8b7a8;
}

#menu-toggle {
  display: none;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 25px;
  z-index: 1100;
}

.menu-btn span {
  background: #c7a391;
  display: block;
  justify-content: flex-end;
  height: 3px;
  border-radius: 3px;
}

.nav {
  position: fixed;
  top: 0; right: -100%;
  background: rgba(255, 255, 255, 0.90);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: right 0.5s ease;
}

.nav ul {
  list-style: none;
}

.nav li {
  margin: 10% 0;
}

.nav a {
  font-size: 2rem;
  color: #d8b7a8;
  text-decoration: none;
  transition: opacity 0.3s;
}

a {
  color: #d8b7a8;
  text-decoration: none;
}

#menu-toggle:checked ~ .nav {
  right: 0;
}

#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Apply to all pages ‐ hero */

.hero {
  height: 100vh;
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero p {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply to all pages ‐ main */

.gap {
  margin-top: 15%;
}

.wave-top, .wave-bottom {
  display: block;
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.flex div {
  flex: 1;
}

.flex img {
  width: 80vh;
  height: auto;
  border-radius: 100px;
}

.wellness {
  padding: 10% 5% 0;
}

.wellness img {
  width: 100vh;
  border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
  margin-top: 10%;
}

h2::before {
  content: "❁";
  display: inline-block;
  color: #d8b7a8;
  margin-right: 0.5rem;
}

h2::after {
  content: "❁";
  display: inline-block;
  color: #d8b7a8;
  margin-left: 0.5rem;
}

h3 {
  margin: 3% 0;
}

h3::before {
  content: "❁";
  display: inline-block;
  color: #cfd8c2;
  margin-right: 0.5rem;
}

h3::after {
  content: "❁";
  display: inline-block;
  color: #cfd8c2;
  margin-left: 0.5rem;
}

p {
  margin: 3% 25% 0;
}

.green p, .flex p {
  margin: 3% 0;
}

#reserve, #access {
  padding: 5%;
}

/* concept */

.green {
  background-color: #cfd8c2;
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 5%;
}

#concept {
  margin: 0 auto;
}

.items {
  height: 100vh;
  margin-bottom: 30%;
}

.item:nth-child(1) { transform: translateY(0); }
.item:nth-child(2) { transform: translateY(300px); }

.circle {
  background-color: #f8f6f2;
  padding: 10%;
  width: 100vh;
  height: auto;
}

.circle1 {
  border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
}

.circle2 {
  border-radius: 60% 40% 70% 50% / 50% 60% 40% 70%;
}

/* room & price */

#room-price {
  padding: 0 5%;
}

.room img {
  width: 100vh;
  height: auto;
  border-radius: 100px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* reserve */

#reserve {
  background-color: #EED3B1;
  margin-top: -1px;
  margin-bottom: -1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 30%;
  margin: 3% auto;
}

input, select {
  background-color: white;
  color: #EED3B1;
  border-radius: 10px;
  width: 100%;
  padding: 3%;
}

button {
  background-color: white;
  color: #444444;
  border: none;
  border-radius: 50px;
  padding: 3% 10%;
}

button:hover {
  background-color: #f8f6f2;
}

/* Apply to all pages ‐ footer */

footer p {
  background-color: #cfd8c2;
  color: #f8f6f2;
  max-width: 100%;
  margin: -1px 0 0;
}

footer h3 {
  position: fixed;
  bottom: -3%;
  right: 2%;
  background-color: #f8f6f2;
  border-radius: 50px;
  padding: 2% 3%;
}

footer h3 a {
  color: #444444;
}

/* Mobile support */
@media(max-width: 767px) {
    
    html {
      font-size: clamp(12px, 1.2vw, 16px);
    }

    .slides, .slide, .slide::after {
      height: 50vh;
    }

    .slides p {
      font-size: 1rem;
    }

    /* Apply to all pages ‐ hero */

    .hero p {
      left: 50%;
      top: 90%;
    }

    /* Apply to all pages ‐ main */

    .wave-top, .wave-bottom {
      height: 50vh;
    }

    .flex {
      flex-wrap: wrap;
      gap: 30px;
    }

    .flex div {
      flex: initial;
    }

    .flex img {
      width: 40vh;
      border-radius: 30px;
    }

    .wellness img {
      width: 100vh;
      border-radius: 50% 40% 60% 50% / 50% 60% 40% 50%;
    }

    .order1 {
      order: 1;
    }

    .order2 {
      order: 2;
    }

    /* concept */

    .item:nth-child(1) { transform: translateY(0); }
    .item:nth-child(2) { transform: translateY(0); }

    .circle {
      padding: 15%;
    }

    /* room & price */

    .room img {
      width: 40vh;
      border-radius: 50px;
    }

    /* reserve */

    form {
      max-width: 80%;
    }

    p {
      margin: 3% 0;
    }

    footer h3 {
      bottom: 0;
    }

}